.wrapper {
  background-color: rgb(150, 173, 201);
  display: block;
  height: 100%;
  width: 100%;
  .user_menu {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Выравнивание элементов по правому краю */
    right: 30px;
    p {
      background-color: rgb(0, 87, 128);
      color: white;
      padding: 10px;
      border-radius: 10px;
      margin-top: 20px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
  .header {
    height: 100px;
    margin-top: 20px;
    background-color: rgb(0, 87, 128);
    display: flex;
    flex-direction: row;
    align-items: center;
    h1 {
      font-size: 40px;
      margin: 0 60px;
      color: white;
      letter-spacing: 0.7px;
    }
  }
  .block_weather {
    background-color: rgb(0, 87, 128);
    border-radius: 15px;
    margin: 10px;
    padding-bottom: 30px;
    height: 600px;
    .list_period {
      margin-bottom: 0px;
      padding: 20px 0px 0px 50px;
      display: flex;
      flex-direction: row;
      li {
        cursor: pointer;
        padding: 5px 12px;
        border-start-end-radius: 15px;
        border-start-start-radius: 15px;
        list-style-type: none;
        font-size: 1.3rem;
        margin-right: 5px;
        background-color: rgb(164, 170, 175);
        a {
          text-decoration: none; /* Убираем подчеркивание */
          color: inherit;
        }
      }
      .active {
        background-color: white;
      }
      .b {
        text-decoration: none; /* Убираем подчеркивание */
        color: inherit;
      }
    }
  }
}
